<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <alias alias="IUnitOfWork" type="BC.DDD.IUnitOfWork,BC.DDD"/>
    <alias alias="IDbContextFactory" type="BC.DDD.EntityFramework.IDbContextFactory,BC.DDD.EntityFramework"/>

    <!--日志-->
    <alias alias="ExceptionInterceptor" type="BC.DDD.Logging.ExceptionInterceptor,BC.DDD"/>
    <alias alias="ILogWrite" type="BC.DDD.Logging.ILogWrite,BC.DDD"/>
    <alias alias="IConfigAccessHelper`1" type="BC.Core.IConfigAccessHelper`1,BC.Core"/>
    <alias alias="LocalConfigurationAccessHelper`1" type="BC.Core.LocalConfigurationAccessHelper`1,BC.Core"/>

    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension,Microsoft.Practices.Unity.Interception.Configuration" />

    <container name="Default">
      <extension type="Interception"/>

      <register type="BC.Core.ITextTransferEngine,BC.Core" mapTo="BC.Core.TextTransferEngine,BC.Core">
        <lifetime type="singleton" />
      </register>

      <!--IIOAccess-->
      <register type="BC.Core.IIOAccess,BC.Core" mapTo="BC.Core.DefaultIOAccess,BC.Core">
        <lifetime type="singleton" />
      </register>

      <!--IServiceBus-->
      <!--<register type="BC.DDD.ServiceBus.IServiceBus,BC.DDD" mapTo="BC.ServiceBus.MassTransit,BC.ServiceBus.MassTransit">
        <lifetime type="singleton" />
      </register>-->

      <!--IObjectMapper-->
      <register type="BC.DDD.ObjectMapper.IObjectMapper,BC.DDD" mapTo="BC.AutoMapper.AutoMapperObjectMapper,BC.AutoMapper">
        <lifetime type="singleton" />
      </register>

      <register type="IInterceptionBehavior" mapTo="ExceptionInterceptor" name="ExceptionLog">
        <lifetime type="singleton"/>
      </register>

      <register type="IDbContextFactory" mapTo="EmptyProject.Store.Models.DatabaseFactory,EmptyProject.Store">
        <lifetime type="Microsoft.Practices.Unity.PerRequestLifetimeManager,Microsoft.Practices.Unity.Mvc" />
      </register>

      <register type="IUnitOfWork" mapTo="BC.DDD.EntityFramework.UnitOfWork,BC.DDD.EntityFramework">
        <lifetime type="Microsoft.Practices.Unity.PerRequestLifetimeManager,Microsoft.Practices.Unity.Mvc" />
      </register>

			<!--Store 开始-->
			<register type="EmptyProject.Store.Interface.IAttachmentStore,EmptyProject.Store.Interface" mapTo="EmptyProject.Store.AttachmentStore,EmptyProject.Store"/>
			<register type="EmptyProject.Store.Interface.ICategoryStore,EmptyProject.Store.Interface" mapTo="EmptyProject.Store.CategoryStore,EmptyProject.Store"/>
			<register type="EmptyProject.Store.Interface.ICategoryTypeStore,EmptyProject.Store.Interface" mapTo="EmptyProject.Store.CategoryTypeStore,EmptyProject.Store"/>
			<register type="EmptyProject.Store.Interface.ICustomFormStore,EmptyProject.Store.Interface" mapTo="EmptyProject.Store.CustomFormStore,EmptyProject.Store"/>
			<register type="EmptyProject.Store.Interface.ICustomFormItemStore,EmptyProject.Store.Interface" mapTo="EmptyProject.Store.CustomFormItemStore,EmptyProject.Store"/>
			<register type="EmptyProject.Store.Interface.ICustomFormStepStore,EmptyProject.Store.Interface" mapTo="EmptyProject.Store.CustomFormStepStore,EmptyProject.Store"/>
			<register type="EmptyProject.Store.Interface.IDataHistoryStore,EmptyProject.Store.Interface" mapTo="EmptyProject.Store.DataHistoryStore,EmptyProject.Store"/>
			<register type="EmptyProject.Store.Interface.IDataInfoStore,EmptyProject.Store.Interface" mapTo="EmptyProject.Store.DataInfoStore,EmptyProject.Store"/>
			<register type="EmptyProject.Store.Interface.IDataStatisticsStore,EmptyProject.Store.Interface" mapTo="EmptyProject.Store.DataStatisticsStore,EmptyProject.Store"/>
			<register type="EmptyProject.Store.Interface.IDataStatisticsDetailStore,EmptyProject.Store.Interface" mapTo="EmptyProject.Store.DataStatisticsDetailStore,EmptyProject.Store"/>
			<register type="EmptyProject.Store.Interface.ILogStore,EmptyProject.Store.Interface" mapTo="EmptyProject.Store.LogStore,EmptyProject.Store"/>
			<register type="EmptyProject.Store.Interface.ITestStore,EmptyProject.Store.Interface" mapTo="EmptyProject.Store.TestStore,EmptyProject.Store"/>
			<register type="EmptyProject.Store.Interface.IUserAccessTokenStore,EmptyProject.Store.Interface" mapTo="EmptyProject.Store.UserAccessTokenStore,EmptyProject.Store"/>
			<register type="EmptyProject.Store.Interface.IUserExtendStore,EmptyProject.Store.Interface" mapTo="EmptyProject.Store.UserExtendStore,EmptyProject.Store"/>
			<register type="EmptyProject.Store.Interface.IUserThirdLoginExtendStore,EmptyProject.Store.Interface" mapTo="EmptyProject.Store.UserThirdLoginExtendStore,EmptyProject.Store"/>
			<register type="EmptyProject.Store.Interface.IUserThirdLoginHistoryStore,EmptyProject.Store.Interface" mapTo="EmptyProject.Store.UserThirdLoginHistoryStore,EmptyProject.Store"/>
			<!--Store 结束-->

      <!--Service 开始-->
      <!--<register type="EmptyProject.DomainService.Interface.IEmptyProjectPlanDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.TestDomainService,EmptyProject.DomainService"/>-->
			<register type="EmptyProject.DomainService.Interface.IAttachmentDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.AttachmentDomainService,EmptyProject.DomainService"/>
			<register type="EmptyProject.DomainService.Interface.ICategoryDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.CategoryDomainService,EmptyProject.DomainService"/>
			<register type="EmptyProject.DomainService.Interface.ICategoryTypeDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.CategoryTypeDomainService,EmptyProject.DomainService"/>
			<register type="EmptyProject.DomainService.Interface.ICustomFormDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.CustomFormDomainService,EmptyProject.DomainService"/>
			<register type="EmptyProject.DomainService.Interface.ICustomFormItemDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.CustomFormItemDomainService,EmptyProject.DomainService"/>
			<register type="EmptyProject.DomainService.Interface.ICustomFormStepDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.CustomFormStepDomainService,EmptyProject.DomainService"/>
			<register type="EmptyProject.DomainService.Interface.IDataHistoryDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.DataHistoryDomainService,EmptyProject.DomainService"/>
			<register type="EmptyProject.DomainService.Interface.IDataInfoDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.DataInfoDomainService,EmptyProject.DomainService"/>
			<register type="EmptyProject.DomainService.Interface.IDataStatisticsDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.DataStatisticsDomainService,EmptyProject.DomainService"/>
			<register type="EmptyProject.DomainService.Interface.IDataStatisticsDetailDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.DataStatisticsDetailDomainService,EmptyProject.DomainService"/>
			<register type="EmptyProject.DomainService.Interface.ILogDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.LogDomainService,EmptyProject.DomainService"/>
			<register type="EmptyProject.DomainService.Interface.ITestDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.TestDomainService,EmptyProject.DomainService"/>
			<register type="EmptyProject.DomainService.Interface.IUserAccessTokenDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.UserAccessTokenDomainService,EmptyProject.DomainService"/>
			<register type="EmptyProject.DomainService.Interface.IUserExtendDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.UserExtendDomainService,EmptyProject.DomainService"/>
			<register type="EmptyProject.DomainService.Interface.IUserThirdLoginExtendDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.UserThirdLoginExtendDomainService,EmptyProject.DomainService"/>
			<register type="EmptyProject.DomainService.Interface.IUserThirdLoginHistoryDomainService,EmptyProject.DomainService.Interface" mapTo="EmptyProject.DomainService.UserThirdLoginHistoryDomainService,EmptyProject.DomainService"/>
      <!--Service 结束-->
    </container>
  </unity>
</configuration>