@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/manage.css")" />
    <title>Welcome</title>
</head>
<body>
    <div id="iframeContent" class="welcome">
        Welcome！！！
    </div>
</body>
</html>
