<?xml version="1.0" encoding="utf-8"?>
<GradeConfig>
  <GradeGroups>
    <GradeGroupConfig>
      <Name>高中</Name>
      <OrderBy>0</OrderBy>
      <Grades>
        <GradeItem>
          <Name>高一</Name>
          <OrderBy>0</OrderBy>
        </GradeItem>
        <GradeItem>
          <Name>高二</Name>
          <OrderBy>1</OrderBy>
        </GradeItem>
        <GradeItem>
          <Name>高三</Name>
          <OrderBy>2</OrderBy>
        </GradeItem>
      </Grades>
    </GradeGroupConfig>
    <GradeGroupConfig>
      <Name>初中</Name>
      <OrderBy>1</OrderBy>
      <Grades>
        <GradeItem>
          <Name>初一</Name>
          <OrderBy>0</OrderBy>
        </GradeItem>
        <GradeItem>
          <Name>初二</Name>
          <OrderBy>1</OrderBy>
        </GradeItem>
        <GradeItem>
          <Name>初三</Name>
          <OrderBy>2</OrderBy>
        </GradeItem>
      </Grades>
    </GradeGroupConfig>    
  </GradeGroups>
</GradeConfig>
