* {padding:0;margin:0;list-style:none;}

body#login {font-size:12px;font-family:Verdana, Geneva, sans-serif, "宋体";line-height:180%;color:#333333;background:#0078BF url(../images/lbg_body.jpg) no-repeat top center;}

#login_logo {display:none;}

#login_main {width:290px;height:250px;padding:0 30px;margin:175px auto 0;}
#login_main .login_form_main p {padding-top:18px;}
#login_main .login_form_main label {height:30px;display:block;background:url(../images/lbg_font.gif) no-repeat;text-indent:-100px;overflow:hidden;}
#login_main .login_form_main label.un {background-position:0 5px;}
#login_main .login_form_main label.pw {background-position:0 -95px;}
#login_main .login_form_main input {width:280px;height:23px;line-height:23px;font-size:15px;font-family:"微软雅黑";padding:5px;border:1px solid #CCCCCC;background:url(../images/lbg_input.jpg) no-repeat;}
#login_main .login_form_foot {margin-top:20px;}
#login_main .login_form_foot .form_button {width:100px;height:40px;display:block;border:none;margin:0 auto;background:url(../images/lbg_button.jpg) no-repeat 0 0;overflow:hidden;text-indent:-150px;cursor:pointer;}
#login_main .login_form_foot .form_button:hover {background-position:0 -40px;}

#login_foot {color:#FFFFFF;text-align:center;margin-top:30px;}