/*弹出层代码开始//////////////////////////////////////////////////*/
#LayBox {font-size:12px;z-index:9900;}
.LayCover {width:100%;height:100%;_height:expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');position:fixed;top:0;left:0;z-index:9901;background:#000000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;}
.LayMain {position:fixed;top:50px;left:50%;z-index:9910;overflow:hidden;-webkit-box-shadow:0 0 5px #333333;-moz-box-shadow:0 0 5px #333333;}	/*圆角效果-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;*/
.LayMain * {padding:0;margin:0;list-style:none;}
.LayMain a {text-decoration:none;color:#226AB1;}
.LayMain a:hover {color:#CC0000;}
.LayMain .LayMain-t {height:30px;line-height:30px;padding:0 10px;background:#DF0000 url(/images/msgbox/showLay_overlay_title.jpg) repeat-x;border-bottom:2px solid #DFDFDF;}
.LayMain .LayMain-t,.LayMain .LayMain-t a {color:#FFFFFF;}
.LayMain .LayMain-t h2 {font-size:14px;float:left;}
.LayMain .LayMain-t a.close {float:right;}
.LayMain .LayMain-m {padding:10px;background:#FFFFFF;}
.LayMain .LayMain-m .m_c {overflow-x:hidden;overflow-y:auto;}
.LayMain .LayMain-m .msg_c {padding:10px;}
.LayMain .LayMain-m .msg_f {height:30px;line-height:30px;padding:5px 10px;text-align:center;}
.LayMain .LayMain-m .msg_f input.form_button,.LayMain .LayMain-m .msg_f input.form_reset,.module_layover .module-f input.form_button,.module_layover .module-f input.form_submit,.module_layover .module-f input.form_reset {height:30px;line-height:30px;padding:0 19px;border:1px solid #BF0000;background:#DF0000 url(/images/msgbox/showLay_overlay_img.jpg) no-repeat center;margin:0 5px;font-size:14px;font-weight:bold;color:#FFFFFF;text-align:center;cursor:pointer;}
.LayMain .LayMainFrame {width:100%;}
/*弹出层代码结束//////////////////////////////////////////////////*/