<div class="page-container no-padding-bottom">
  <div class="page-header page-header-default no-margin-bottom" style="border: 1px solid #ddd;border-bottom: 0px;">
    <div class="breadcrumb-line">
      <ul class="breadcrumb breadcrumb-caret position-right">
        <li>
          <a [routerLink]="['/manage']">首页</a>
        </li>
        <li>
          <a [routerLink]="['/manage/basicdata']">基础数据管理</a>
        </li>
        <!-- <li class="active">详情</li> -->
      </ul>
    </div>
  </div>
</div>



<div class="page-container" id="RootView">
  <div class="page-content">
    <!-- Main sidebar -->
    <div class="sidebar sidebar-opposite sidebar-default" style="padding-right: 20px;padding-left:0px">
      <div class="sidebar-content">
        <div class="sidebar-category sidebar-category-visible">
          <div class="category-title h6">
            <span>管理表单</span>
            <ul class="icons-list">
              <li>
                <a (click)="createCustomForm()">
                  <i class="icon-plus2"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="category-content no-padding">
            <ul class="list-group no-border" (cdkDropListDropped)="dropCustomForm($event)" cdkDropList>
              <li class="list-group-item" *ngFor="let item of this.customFormList;let idx=index" [routerLinkActive]="['active']" cdkDrag>
                <a [routerLink]="['customform',item.Id]" class="Name SelectedCategory">{{item.Name}}</a>
                <i class="icon-cross2 pull-right RemoveCategory cursor-pointer" (click)="removeCustomForm(item.Id)"></i>
                <i class="icon-pencil5 pull-right EditCategory cursor-pointer" (click)="editCustomForm(item)"></i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="sidebar-content">
        <div class="sidebar-category sidebar-category-visible">
          <div class="category-title h6">
            <span>管理分类类型</span>
            <ul class="icons-list">
              <li>
                <a (click)="createCategoryType()" class="CreateCategory">
                  <i class="icon-plus2"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="category-content no-padding">
            <ul class="list-group no-border" (cdkDropListDropped)="dropCategoryType($event)" cdkDropList>
                <li class="list-group-item" *ngFor="let item of this.categoryTypeList;let idx=index" [routerLinkActive]="['active']" cdkDrag>
                    <a [routerLink]="['category',item.Id,item.CustomFormId]" class="Name SelectedCategory">{{item.Name}}</a>
                    <i class="icon-cross2 pull-right RemoveCategory cursor-pointer" (click)="removeCategoryType(item.Id)"></i>
                    <i class="icon-pencil5 pull-right EditCategory cursor-pointer" (click)="editCategoryType(item)"></i>
                </li>
            </ul>
          </div>
        </div>
      </div>      
    </div>
    <!-- /main sidebar -->
    <!-- Main content -->
    <router-outlet></router-outlet>
    <!-- /page content -->
  </div>
</div>
