<div class="navbar-header">
    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle"
        type="button">
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
        </span>
    </button>
    <!--logo start-->
    <a href="javascript:" class="logo">管理系统</a>
    <!--logo end-->
    <div class="horizontal-menu navbar-collapse collapse ">
        <ul class="nav navbar-nav" data-manage-header-menu>
            
        </ul>
    </div>
    <div class="top-nav ">
        <ul class="nav pull-right top-menu">
            <!-- user login dropdown start-->
            <li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="javascript:">
                <!--<img alt="" src="/img/avatar1_small.jpg" style="display: none" />-->
                <span class="username">{{UserName}}</span> <b class="caret"></b></a>
                <ul class="dropdown-menu extended logout">
                    <div class="log-arrow-up">
                    </div>
                    <li><a ng-click="ModifyPassword();" href="javascript:"><i class="icon-cog"></i>修改密码</a></li>
                    <li><a ng-click="logout();" href="javascript:"><i class="icon-key"></i>注销</a></li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
    </div>
</div>
