<form class="form-horizontal" role="form" novalidate w5c-form-validate="model.validateOptions" name="validateForm">
    <div role="form" class="form-horizontal ">
        <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label" for="GZQYMC">旧密码</label>
            <div class="col-lg-9 col-sm-9">
                <input type="password" name="OldPassword" ng-model="model.entity.OldPassword" class="form-control input-sm" tabindex="1" required />
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label" for="GZSJ">新密码</label>
            <div class="col-lg-9 col-sm-9">
                <input type="password" name="NewPassword" ng-model="model.entity.NewPassword" class="form-control input-sm" tabindex="2"  required ng-minlength="5"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-3 col-sm-3 control-label" for="GZSSJTDZS">确认新密码</label>
            <div class="col-lg-9 col-sm-9">
                <input type="password" name="RePassword" ng-model="model.entity.RePassword" w5c-repeat="NewPassword" class="form-control input-sm" tabindex="3"  required ng-minlength="5" />
            </div>
        </div>
    </div>     
    <div class="validation-summary-errors">
        <ul>
            <li>{{loginError}}</li>
        </ul>
    </div>
</form>
