<div class="modal-header">
  <h4 class="modal-title">编辑密码</h4>
  <button type="button" class="close" aria-label="Close" (click)="this.activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="formModel" (submit)="OnSubmit()">
  <div class="modal-body">
    <div class="form-group" [class.has-error]="Error('OldPassword')">
      <label class="control-label" for="OldPassword">旧密码</label>
      <div><input class="form-control" id="OldPassword" name="OldPassword" type="password" formControlName="OldPassword">
      </div>
      <div *ngIf="Error('OldPassword')">
        <span class="help-block" *ngIf="hasError('required','OldPassword')">请填写旧密码</span>
      </div>
    </div>
    <div class="form-group" [class.has-error]="Error('NewPassword')">
      <label class="control-label" for="NewPassword">新密码</label>
      <div><input class="form-control" id="NewPassword" name="NewPassword" type="password"
          formControlName="NewPassword"></div>
      <div *ngIf="Error('NewPassword')">
        <span class="help-block" *ngIf="hasError('required','NewPassword')">请填写新密码</span>
      </div>
    </div>
    <div class="form-group" [class.has-error]="Error('ConfirmPassword')">
      <label class="control-label" for="ConfirmPassword">确认新密码</label>
      <div><input class="form-control" id="ConfirmPassword" name="ConfirmPassword" type="password" formControlName="ConfirmPassword">
      </div>
      <div *ngIf="Error('ConfirmPassword')">
        <span class="help-block" *ngIf="hasError('required','ConfirmPassword')">请填写确认新密码</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-danger">提交</button>
    <button type="button" class="btn btn-default" (click)="this.activeModal.close()">取消</button>
  </div>
  <!-- <pre>{{selectedFormModel() | json}}</pre> -->
</form>