<?xml version="1.0"?>
<UploadConfig>
  <Items>
    <Item>
      <Key>GoodsPic</Key>
      <MaxSize>2097152</MaxSize>
      <AllowedExt>.jpg,.jpeg,.gif,.png</AllowedExt>
      <UpDirectory>/upfile</UpDirectory>
      <ImageZoomConfig>
        <ImageZoomItem>
          <Name>small</Name>
          <Width>80</Width>
          <Height>80</Height>
        </ImageZoomItem>
        <ImageZoomItem>
          <Name>s3</Name>
          <Width>320</Width>
          <Height>320</Height>
        </ImageZoomItem>
        <ImageZoomItem>
          <Name>s2</Name>
          <Width>120</Width>
          <Height>120</Height>
        </ImageZoomItem>
        <ImageZoomItem>
          <Name>s4</Name>
          <Width>75</Width>
          <Height>75</Height>
        </ImageZoomItem>
      </ImageZoomConfig>
    </Item>
	  <Item>
		  <Key>CoursePic</Key>
		  <MaxSize>2097152</MaxSize>
		  <AllowedExt>.jpg,.jpeg,.gif,.png</AllowedExt>
		  <UpDirectory>/upfile</UpDirectory>
	  </Item>
	  <Item>
		  <Key>AttachmentVideo</Key>
		  <MaxSize>2097152</MaxSize>
		  <AllowedExt>.flv</AllowedExt>
		  <UpDirectory>/upfile</UpDirectory>
	  </Item>
    <Item>
      <Key>AttachmentAudio</Key>
      <MaxSize>10097152</MaxSize>
      <AllowedExt>.mp3,.wmv,.wav</AllowedExt>
      <UpDirectory>/upfile</UpDirectory>
    </Item>    
	  <Item>
		  <Key>AttachmentTestVideo</Key>
		  <MaxSize>10097152</MaxSize>
		  <AllowedExt>.flv</AllowedExt>
		  <UpDirectory>/upfile</UpDirectory>
	  </Item>
    <Item>
      <Key>UploadPic</Key>
      <MaxSize>10097152</MaxSize>
      <AllowedExt>.jpg,.jpeg.gif,.png</AllowedExt>
      <UpDirectory>/upfile</UpDirectory>
    </Item>    
  </Items>
</UploadConfig>
