<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://EmptyProjects.microsoft.com/practices/2010/unity">
    <assembly name="EmptyProject.Repository.Interface"/>
    <namespace name="EmptyProject.Repository.Interface"/>
    <alias alias="IUnitOfWork" type="BaseCommon.DDD.IUnitOfWork,BaseCommon.DDD"/>
    <alias alias="UnitOfWork" type="BaseCommon.DDD.UnitOfWork,BaseCommon.DDD"/>
    <alias alias="IDatabaseFactory" type="BaseCommon.DDD.IDatabaseFactory,BaseCommon.DDD"/>
    <alias alias="DatabaseFactory" type="BaseCommon.DDD.DatabaseFactory,BaseCommon.DDD"/>
    <alias alias="HttpContext" type="BaseCommon.IoC.WebOnly.HttpContextLifetimeManager,BaseCommon.IoC.WebOnly"/>

    <alias alias="IConfigAccessHelper`1" type="BaseCommon.Core.Config.IConfigAccessHelper`1,BaseCommon.Core"/>
    <alias alias="LocalConfigurationAccessHelper`1" type="BaseCommon.Core.Config.LocalConfigurationAccessHelper`1,BaseCommon.Core"/>

    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension,Microsoft.Practices.Unity.Interception.Configuration" />
    <container name="Default">
      <register type="IDatabaseFactory" mapTo="DatabaseFactory">
        <lifetime type="HttpContext" typeConverter="BaseCommon.IoC.WebOnly.HttpContextLifetimeManagerConverter[IDatabaseFactory],BaseCommon.IoC.WebOnly"/>
      </register>
      <register type="IUnitOfWork" mapTo="UnitOfWork">
        <lifetime type="HttpContext" typeConverter="BaseCommon.IoC.WebOnly.HttpContextLifetimeManagerConverter[IUnitOfWork],BaseCommon.IoC.WebOnly"/>
      </register>


    </container>
  </unity>
</configuration>