<!--<section class="panel">-->
    <div class="panel-body">
        <div class="col-md-9 col-lg-9 col-sm-9">
            <div class="pro-img-details">
                <img ng-src="{{model.SelectImage.Url}}" style="cursor:pointer" ng-click="model.ViewImage(model.SelectImage.Url)">
            </div>
            <div class="pro-img-list">
                <dd href="javascript:" ng-repeat="Item in model.ImageList" class="{{Item.Selected ? 'curr' : ''}}" ng-click="model.SwitchImage(Item)">
                    <img class="pic" ng-src="{{Item.Directory + '/' + Item.DicExtendedAttributes.small.Value}}">
                    <span title="默认"></span>
                    <em title="删除" ng-click="model.DeleteImage(Item)"></em>
                </dd>
            </div>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3">
            <div manage-image-model-detail ng-model="model" type="{{model.Type}}"></div>
            <p>
                <button type="button" class="btn btn-round btn-danger" ng-click="model.UploadImage()"><i class=" icon-cloud-upload"></i> 上传图片</button>
            </p>
        </div>
    </div>
<!--</section>-->
